# app
DEBUG=true
PORT=80
NODE_ENV="development"
MY_IP_ADDRESS="420.69.247.365"
DEVELOPMENT_APP_URL="app.test"
PRODUCTION_APP_URL="jaw.lol"
SESSION_SECRET="subdomain"

# redis
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_PASSWORD="password"
