<footer class="footer p-10 bg-base-300 text-base-content">
  <div class="mx-auto max-w-7xl flex justify-between w-full">
    <span>
      Copyright © <%- app.copyRightYear %>
      <a href="/" class="link link-hover" title="gains.city">powerlifting.gg</a>. All rights
      reserved.</span
    >
    <ul class="flex gap-3">
      <li>
        <a href="/privacy-policy" class="link link-hover" title="privacy">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms-of-services" class="link link-hover" title="terms">Terms of Services</a>
      </li>
      <li>
        <a href="https://github.com/wajeht/powerlifting.gg" target="_blank" class="link link-hover" title="github">Github</a>
      </li>
    </ul>
  </div>
</footer>
