<header class="navbar p-10">
	<!-- wrapper -->
	<div class="mx-auto max-w-7xl flex justify-between w-full">
		<!-- left -->
		<div class="flex-1">
			<a href="/" title="powerlifting.gg" class="text-2xl font-extrabold">Powerlifting.gg</a>
		</div>

		<!-- right -->
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">

				<!-- resources -->
				<!-- <li>
					<details>
						<summary>Resource</summary>
						<ul class="p-2 bg-base-100 rounded-t-none">
							<li><a href="/privacy-policy" title="privacy policy">Privacy</a></li>
							<li><a href="/terms-of-services" title="terms of services">Terms</a></li>
						</ul>
					</details>
				</li> -->


				<!-- login -->
				<li>
					<a href="/tenants" title="tenants">Tenants</a>
				</li>

				<!-- contact -->
				<li>
					<a href="/contact" title="contact">Contact</a>
				</li>


			</ul>
		</div>
	</div>
</header>
