<header class="navbar p-10">
	<!-- wrapper -->
	<div class="mx-auto max-w-7xl flex justify-between w-full">
		<!-- left -->
		<div class="flex-1">
			<a href="/" title="powerlifting.gg" class="text-2xl font-extrabold">Powerlifting.gg</a>
		</div>

		<!-- right -->
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				<!-- tenants -->
				<li>
					<a class="<%= title === '/tenants' ? 'active' : '' %>" href="/tenants" title="tenants">Tenants</a>
				</li>

				<!-- contact -->
				<li>
					<a class="<%= title === '/contact' ? 'active' : '' %>" href="/contact" title="contact">Contact</a>
				</li>

				<!-- login -->
				<% if (app.env === 'development') { %>
					<li>
						<a href="http://localhost:80/oauth/google" title="login with google">Login</a>
					</li>
				<% } else { %>
					<li>
						<a href="/oauth/google" title="login with google">Login</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</header>
