<header class="navbar p-10 sticky top-0 z-10 backdrop-blur-sm bg-white/70 border border-b">
	<!-- wrapper -->
	<div class="mx-auto max-w-7xl flex justify-between w-full">
		<!-- left -->
		<div class="flex-1">
			<a href="<%= app.mainDomain %>/" title="powerlifting.gg" class="text-2xl font-extrabold">Powerlifting.gg</a>
		</div>

		<!-- right -->
		<div class="flex-none">
			<ul class="menu menu-horizontal  px-1">
				<!-- resource -->
				<li>
					<details>
						<summary>
							Resources
						</summary>
						<ul class="p-2 bg-base-100 dropdown-content w-44 shadow-md">
							<li>
								<a class="<%= title === '/contact' ? 'active' : '' %>" href="<%= app.mainDomain %>/contact" title="contact">Contact</a>
							</li>
							<li>
								<a class="<%= title === '/terms-of-services' ? 'active' : '' %>" href="<%= app.mainDomain %>/terms-of-services" title="terms-of-services">Terms Of Services</a>
							</li>
							<li>
								<a class="<%= title === '/privacy-policy' ? 'active' : '' %>" href="<%= app.mainDomain %>/privacy-policy" title="privacy-policy">Privacy Policy</a>
							</li>
							<li>
								<a class="<%= title === '/moderation-policy' ? 'active' : '' %>" href="<%= app.mainDomain %>/moderation-policy" title="">Moderation Policy</a>
							</li>
						</ul>
					</details>
				</li>

				<!-- tenants -->
				<li>
					<a class="<%= title === '/tenants' ? 'active' : '' %>" href="<%= app.mainDomain %>/tenants" title="tenants">Tenants</a>
				</li>

				<!-- login/logout -->
				<% if (app.user) { %>
					<li><a href="<%= app.mainDomain %>/logout" title="logout">Logout</a></li>
				<% } else { %>
					<li><a href="<%= app.mainDomain %>/login" title="login with google">Login</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</header>
