*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	max-width: 500px;

	padding: 20px;

	margin: 0 auto;

	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

header {
	padding: 20px;
	text-align: center;
	flex-grow: 0;
}

main {
	padding: 20px;
	flex-grow: 1;
}

footer {
	padding: 20px;
	font-size: small;
	text-align: center;
	flex-grow: 0;
}


img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
