@import "./typography.min.css";
@import "./animate.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
  display: none;
}

.underlined {
  position: relative;
  display: inline-block !important;
}

.underlined::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 7px;
  width: 100% !important;
  border: solid 8px #FB923D;
  border-color: #FB923D transparent transparent transparent;
  border-radius: 50%;
}

* {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 0;
}

.animate__veryfast {
  --animate-duration: 250ms !important;
}

.fade-down {
  animation: fadeInDown 1s forwards;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.animation-delay-1 {
  animation-delay: 200ms;
}

.animation-delay-2 {
  animation-delay: 500ms;
}

.animation-delay-3 {
  animation-delay: 700ms;
}

.animation-delay-4 {
  animation-delay: 1000ms;
}

.animation-delay-5 {
  animation-delay: 1200ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
