@import "./typography.min.css";
@import "./animate.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 0;
}

.animate__veryfast {
  --animate-duration: 250ms !important;
}
