<!doctype html>
<html lang="en">
	<!-- head -->
	<%- include('../components/head.html') %>

	<!-- scroll-to-top -->
	<%- include('../components/scroll-to-top.html') %>

  <!-- toast -->
  <%- include('../components/toast.html') %>

	<body id="app" class="flex min-h-screen flex-col overflow-auto max-w-full" v-cloak>
		<!-- header -->
		<%- include('../components/header.html') %>

		<!-- main -->
		<main class="flex-1 relative">

      <div class="p-10">
        <div class="mx-auto max-w-7xl w-full prose">
          <!-- breadcrumbs -->
          <div class="flex justify-between items-center mb-6">
            <div class="text-sm flex gap-2 items-center my-5 text-[#4A5569]">
              <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>">Home</a>
              <%- include('../components/right-arrow-svg.html') %>
              <% if (path === '/admin') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
              <% } %>

              <% if (path === '/admin/reviews') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
                <%- include('../components/right-arrow-svg.html') %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin/reviews">Reviews</a>
              <% } %>

              <% if (path === '/admin/tenants') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
                <%- include('../components/right-arrow-svg.html') %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin/tenants">Tenants</a>
              <% } %>

            </div>
            <% if (app.user) { %>
              <a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/logout" title="logout">Logout</a>
            <% } else { %>
              <a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/login" title="login">Login</a>
            <% } %>
          </div>

          <h1><%= title %></h1>

          <div class="sm:grid sm:grid-cols-4 flex flex-col gap-5">

            <!-- menu -->
            <ul class="menu sm:menu-vertical menu-horizontal justify-evenly bg-base-100 border rounded-lg m-0 p-5 h-fit w-full">
              <li class="m-0"><a class="no-underline <%= path === '/admin' ? 'active' : '' %>" href="/admin">Admin</a></li>
              <li class="m-0"><a class="no-underline <%= path === '/admin/tenants' ? 'active' : '' %>" href="/admin/tenants">Tenants</a></li>
              <li class="m-0"><a class="no-underline <%= path === '/admin/reviews' ? 'active' : '' %>" href="/admin/reviews">Reviews</a></li>
            </ul>

            <div class="col-span-3 sm:px-3 flex flex-col gap-7">
              <%- body %>
            </div>
          </div>

        </div>
      </div>

    </main>

		<!-- footer -->
		<%- include('../components/footer.html') %>
	</body>

	<!-- global search -->
	<global-search />
</html>
