<!doctype html>
<html lang="en">
	<!-- head -->
	<%- include('../components/head.html') %>

	<!-- scroll-to-top -->
	<%- include('../components/scroll-to-top.html') %>

  <!-- toast -->
  <%- include('../components/toast.html') %>

	<body id="app" class="flex min-h-screen flex-col overflow-auto max-w-full" v-cloak>
		<!-- header -->
		<%- include('../components/header.html') %>

		<!-- main -->
		<main class="flex-1 relative">

      <div class="p-10">
        <div class="mx-auto max-w-7xl w-full prose">
          <!-- breadcrumbs -->
          <div class="flex justify-between items-center mb-6">
            <div class="text-sm flex gap-2 items-center my-5 text-[#4A5569]">
              <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>">Home</a>
              <%- include('../components/right-arrow-svg.html') %>
              <% if (path === '/admin') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
              <% } %>

              <% if (path === '/admin/reviews') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
                <%- include('../components/right-arrow-svg.html') %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin/reviews">Reviews</a>
              <% } %>

              <% if (path === '/admin/tenants') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
                <%- include('../components/right-arrow-svg.html') %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin/tenants">Tenants</a>
              <% } %>

              <% if (path === '/admin/cache') { %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin">Admin</a>
                <%- include('../components/right-arrow-svg.html') %>
                <a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/admin/cache">Cache</a>
              <% } %>

            </div>
            <% if (app.user) { %>
              <a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/logout" title="logout">Logout</a>
            <% } else { %>
              <a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/login" title="login">Login</a>
            <% } %>
          </div>

          <h1><%= title %></h1>

          <div class="sm:grid sm:grid-cols-4 flex flex-col gap-5">

            <!-- menu -->
            <ul class="menu sm:menu-vertical menu-horizontal justify-evenly bg-base-100 border rounded-lg m-0 p-5 h-fit w-full sm:top-[160px] sm:sticky">
              <li class="m-0">
                <a class="no-underline <%= path === '/admin' ? 'active' : '' %> flex gap-3 items-center" href="/admin">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2.25 12l8.955-8.955a1.124 1.124 0 0 1 1.59 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/></svg>
                  <span>Admin</span>
                </a>
              </li>
              <li class="m-0">
                <a class="no-underline <%= path === '/admin/tenants' ? 'active' : '' %> flex gap-3 items-center" href="/admin/tenants">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19.128a9.38 9.38 0 0 0 2.625.372a9.337 9.337 0 0 0 4.121-.952a4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0a3.375 3.375 0 0 1 6.75 0m8.25 2.25a2.625 2.625 0 1 1-5.25 0a2.625 2.625 0 0 1 5.25 0"/></svg>
                  <span>Tenants</span>
                </a>
              </li>
              <li class="m-0">
                <a class="no-underline <%= path === '/admin/reviews' ? 'active' : '' %> flex gap-3 items-center" href="/admin/reviews">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.625 12a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0m0 0H8.25m4.125 0a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0m0 0H12m4.125 0a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0m0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065a4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25"/></svg>
                  <span>Reviews</span>
                </a>
              </li>
              <li class="m-0">
                <a class="no-underline <%= path === '/admin/cache' ? 'active' : '' %> flex gap-3 items-center" href="/admin/cache">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3l5.571-3m-11.142 0L2.25 7.5L12 2.25l9.75 5.25l-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75L2.25 16.5l4.179-2.25m11.142 0l-5.571 3l-5.571-3"/></svg>
                  <span>Cache</span>
                </a>
              </li>
              <li class="m-0">
                <a class="no-underline <%= path === '/admin/database' ? 'active' : '' %> flex gap-3 items-center" href="/admin/database">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"/></svg>
                  <span>Database</span>
                </a>
              </li>
            </ul>

            <div class="col-span-3 sm:px-3 flex flex-col gap-7">
              <%- body %>
            </div>
          </div>

        </div>
      </div>

    </main>

		<!-- footer -->
		<%- include('../components/footer.html') %>
	</body>

	<!-- global search -->
	<global-search />
</html>
