<!doctype html>
<html lang="en">
	<!-- head -->
	<%- include('../components/head.html') %>

	<!-- scroll-to-top -->
	<%- include('../components/scroll-to-top.html') %>

	<!-- toast -->
	<%- include('../components/toast.html') %>

	<body id="app" class="flex min-h-screen flex-col overflow-auto max-w-full" v-cloak>
		<!-- header -->
		<%- include('../components/header.html') %>

		<!-- main -->
		<main class="flex-1 relative h-full"><%- body %></main>

		<!-- footer -->
		<%- include('../components/footer.html') %>
	</body>

	<!-- global search -->
	<global-search />
</html>
