<div class="p-10">
	<div class="mx-auto max-w-7xl w-full prose">
		<!-- breadcrumbs -->
		<div class="flex justify-between items-center mb-6">
			<div class="text-sm flex gap-2 items-center my-5 text-[#4A5569]">
				<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>">Home</a>
				<%- include('../components/right-arrow-svg.html') %>
				<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/blog">Blog</a>
				<%- include('../components/right-arrow-svg.html') %>
				<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/blog/<%= post.meta.id %>"><%= post.meta.title %></a>
			</div>

			<% if (app.user) { %>
				<a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/logout" title="logout">Logout</a>
			<% } %>
		</div>

		<!-- meta -->
		<h1><%= post.meta.title %></h1>
		<div class="flex gap-2 items-center text-sm">
			<div class="flex justify-center items-center gap-2 h-fit w-fit">
				<img
					class="w-5 h-5 rounded-full m-0"
					src="<%= post.meta.profile_picture %>"
					alt="profile_picture"
				/>
				<span><%= post.meta.author %></span>
			</div>
			<span>/</span>
			<span><%= new Date(post.meta.date).toLocaleString('en-US', { month: 'long' , day: 'numeric' }) %></span>
			<span>/</span>
			<span><%= post.meta.time.text %></span>
			<span>/</span>
			<span><%= post.meta.time.words %> words</span>
		</div>

		<%- post.content %>
	</div>
</div>
