<footer class="footer p-10 bg-neutral text-white">
	<!-- wrapper -->
	<div
		class="mx-auto max-w-7xl flex flex-col-reverse sm:flex-row text-center sm:text-left justify-between w-full items-center"
	>
		<!-- left -->
		<span>
			Copyright © <%- app.copyRightYear %>
			<a href="<%= app.mainDomain %>" class="link link-hover" title="gains.city">powerlifting.gg</a
			>. All rights reserved.</span
		>

		<!-- right -->
		<ul class="flex gap-3 items-center justify-center text-center">
			<!-- pp -->
			<li>
				<a href="<%= app.mainDomain %>/privacy-policy" class="link link-hover" title="privacy"
					>Privacy Policy</a
				>
			</li>

			<!-- tos -->
			<li>
				<a href="<%= app.mainDomain %>/terms-of-services" class="link link-hover" title="terms"
					>Terms of Services</a
				>
			</li>
		</ul>
	</div>
</footer>
