<header class="navbar p-10 sticky top-0 z-10 backdrop-blur-sm bg-white/70 border border-b">
	<!-- wrapper -->
	<div class="mx-auto max-w-7xl flex justify-between w-full">
		<!-- left -->
		<div class="flex-1">
			<a
				href="<%= app.mainDomain %>/"
				title="powerlifting.gg"
				class="text-2xl font-black btn btn-ghost"
				>Powerlifting.gg</a
			>
		</div>

		<!-- right -->
		<div class="flex-none hidden sm:block">
			<ul class="menu menu-horizontal px-1">
				<!-- login/logout -->
				<% if (app.user) { %>
					<!-- tenants -->
					<li>
						<a
							class="<%= path === '/tenants' ? 'active' : '' %>"
							href="<%= app.mainDomain %>/tenants"
							title="tenants"
							>Tenants</a
						>
					</li>

					<!-- resource -->
					<li>
						<details class="dropdown dropdown-end">
							<summary>Resources</summary>
							<ul class="p-2 bg-base-100 dropdown-content w-44 shadow-md border">
								<!-- github -->
								<li>
									<a
										href="https://github.com/wajeht/powerlifting.gg"
										target="_blank"
										class="link link-hover"
										title="github"
										>Github <span>️⤴</span></a
									>
								</li>
								<!-- discord -->
								<li>
									<a href="https://discord.gg/m9GRxu2AZH" title="discord" target="_blank"
										>Discord<span>⤴</span></a
									>
								</li>
								<!-- api docs -->
								<% if (typeof app.user !== 'undefined' && app.user.role === 'SUPER_ADMIN') { %>
									<li>
										<a href="<%= app.mainDomain %>/admin/api-docs" title="api docs" target="_blank"
											>API Docs <span>️⤴</span></a
										>
									</li>
								<% } %>
								<!-- blog -->
								<li>
									<a
										class="<%= path === '/blog' ? 'active' : '' %>"
										href="<%= app.mainDomain %>/blog"
										title="blog"
										>Blog</a
									>
								</li>
								<!-- contact -->
								<li>
									<a
										class="<%= path === '/contact' ? 'active' : '' %>"
										href="<%= app.mainDomain %>/contact"
										title="contact"
										>Contact</a
									>
								</li>
							</ul>
						</details>
					</li>

					<!-- settings -->
					<%- include('../components/setting-link.html') %>
				<% } else { %>
					<!-- resource -->
					<li>
						<details class="dropdown dropdown-end">
							<summary>Resources</summary>
							<ul class="p-2 bg-base-100 dropdown-content w-44 shadow-md border">
								<!-- github -->
								<li>
									<a
										href="https://github.com/wajeht/powerlifting.gg"
										target="_blank"
										class="link link-hover"
										title="github"
										>Github <span>⤴</span></a
									>
								</li>
								<!-- discord -->
								<li>
									<a href="https://discord.gg/m9GRxu2AZH" title="discord" target="_blank"
										>Discord<span>️⤴</span></a
									>
								</li>
								<!-- api docs -->
								<% if (typeof app.user !== 'undefined' && app.user.role === 'SUPER_ADMIN') { %>
									<li>
										<a href="<%= app.mainDomain %>/admin/api-docs" title="api docs" target="_blank"
											>API Docs <span>️⤴</span></a
										>
									</li>
								<% } %>
								<!-- blog -->
								<li>
									<a
										class="<%= path === '/blog' ? 'active' : '' %>"
										href="<%= app.mainDomain %>/blog"
										title="blog"
										>Blog</a
									>
								</li>
								<!-- contact -->
								<li>
									<a
										class="<%= path === '/contact' ? 'active' : '' %>"
										href="<%= app.mainDomain %>/contact"
										title="contact"
										>Contact</a
									>
								</li>
							</ul>
						</details>
					</li>

					<!-- tenants -->
					<li>
						<a
							class="<%= path === '/tenants' ? 'active' : '' %>"
							href="<%= app.mainDomain %>/tenants"
							title="tenants"
							>Tenants</a
						>
					</li>

					<!-- login -->
					<li><a href="<%= app.mainDomain %>/login" title="login with google">Login</a></li>
				<% } %>
			</ul>
		</div>

		<!-- right mobile -->
		<div class="flex-none sm:hidden block">
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost btn-circle">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
				</div>
				<ul tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 border">
					<!-- github -->
					<li>
						<a
							href="https://github.com/wajeht/powerlifting.gg"
							target="_blank"
							class="link link-hover"
							title="github"
							>Github <span>️⤴</span></a
						>
					</li>
					<!-- discord -->
					<li>
						<a href="https://discord.gg/m9GRxu2AZH" title="discord" target="_blank"
							>Discord<span>⤴</span></a
						>
					</li>
					<% if (typeof app.user !== 'undefined' && app.user.role === 'SUPER_ADMIN') { %>
						<!-- api docs -->
						<li>
							<a href="<%= app.mainDomain %>/admin/api-docs" title="api docs" target="_blank"
								>API Docs <span>️⤴</span></a
							>
						</li>
					<% } %>
					<!-- blog -->
					<li>
						<a
							class="<%= path === '/blog' ? 'active' : '' %>"
							href="<%= app.mainDomain %>/blog"
							title="blog"
							>Blog</a
						>
					</li>
					<!-- contact -->
					<li>
						<a
							class="<%= path === '/contact' ? 'active' : '' %>"
							href="<%= app.mainDomain %>/contact"
							title="contact"
							>Contact</a
						>
					</li>
					<!-- tenants -->
					<li>
						<a
							class="<%= path === '/tenants' ? 'active' : '' %>"
							href="<%= app.mainDomain %>/tenants"
							title="tenants"
							>Tenants</a
						>
					</li>
					<% if (app.user) { %>
						<hr class="my-2">
						<% if (app.user.role === 'SUPER_ADMIN') { %>
							<!-- jobs -->
							<li>
								<a
									class="<%= path === '/admin/jobs' ? 'active' : '' %>"
									href="<%= app.mainDomain %>/admin/jobs"
									title="jobs"
									>Jobs</a
								>
							</li>

							<!-- admin -->
							<li>
								<a
									class="<%= path === '/admin' ? 'active' : '' %>"
									href="<%= app.mainDomain %>/admin"
									title="admin"
									>Admin</a
								>
							</li>
						<% } %>
						<!-- settings -->
						<li>
							<a
								class="<%= path === '/settings' ? 'active' : '' %>"
								href="<%= app.mainDomain %>/settings"
								title="settings"
								>Settings</a
							>
						</li>

						<!-- my tenant -->
						<% if (typeof app.user.tenant !== 'undefined') { %>
							<li>
								<a
									href="<%- app.configureDomain(app.user.tenant.slug) %>"
									title="my tenant"
									>My Tenant</a
								>
							</li>
						<% } %>

						<hr class="my-2">
						<li><a href="<%= app.mainDomain %>/logout" title="logout">Logout</a></li>
					<% } else { %>
						<hr class="my-2">
						<li><a href="<%= app.mainDomain %>/login" title="login">Login</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</header>
