<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>powerlifting.gg</title>
	<!-- og social card -->
	<%- include('../components/og-social-card.html') %>
	<meta name="description" content="Find Your Perfect Strength Coach" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/preload.js"></script>
	<script defer data-domain="powerlifting.gg" src="https://plausible.jaw.dev/js/script.js"></script>
	<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
	<!-- vue -->
	<%- include('../components/vue.html') %>
</head>
