<div id="newsletter-container" class="p-16 rounded-md flex flex-col gap-4 justify-center items-center border mt-20">
  <form action="/newsletter" method="post">
    <input type="text" name="csrfToken" value="<%= csrfToken %>" hidden />
    <h1 class="m-0">Newsletter</h1>
    <p>Join us to stay updated with what's going on within the community!</p>
    <div class="join w-full">
      <input name="email" id="email" class="input input-bordered join-item w-full" placeholder="Email" type="email" required />
      <button type="submit" class="btn btn-neutral join-item">Subscribe</button>
    </div>
  </form>
</div>
