<li>
	<details>
		<summary>
			<div class="flex justify-center items-center gap-2">
				<img
					class="w-5 h-5 rounded-full"
					src="<%= app.user.profile_picture %>"
					alt="profile_picture"
				/>
				<span> <%= app.user.username %> </span>
			</div>
		</summary>
		<ul class="p-2 bg-base-100 dropdown-content w-44 shadow-md">
			<% if (app.user.role === 'SUPER_ADMIN') { %>
				<!-- jobs -->
				<li>
					<a
						class="<%= path === '/admin/jobs' ? 'active' : '' %>"
						href="<%= app.mainDomain %>/admin/jobs"
						title="logout"
						>Jobs</a
					>
				</li>
				<!-- admin -->
				<li>
					<a
						class="<%= path === '/admin' ? 'active' : '' %>"
						href="<%= app.mainDomain %>/admin"
						title="logout"
						>Admin</a
					>
				</li>
			<% } %>

			<!-- settings -->
			<li>
				<a
					class="<%= path === '/settings' ? 'active' : '' %>"
					href="<%= app.mainDomain %>/settings"
					title="logout"
					>Settings</a
				>
			</li>

			<hr class="my-2">

			<!-- logout -->
			<li><a href="<%= app.mainDomain %>/logout" title="logout">Logout</a></li>
		</ul>
	</details>
</li>
