<script>
  function parseFlashMessage(flashMessage) {
    return JSON.parse(flashMessage.replaceAll('&#34;', '"'));
  }

  function createToast (alertType, message) {
    const toastDiv = document.createElement('div');
    toastDiv.classList.add('toast', 'top-5', 'toast-center', 'z-20', 'px-20', 'h-fit', 'w-max', 'flex', 'justify-center', 'items-center');

    const alertDiv = document.createElement('div');
    alertDiv.classList.add('alert', alertType, 'max-w-[40ch]', 'w-fit', 'text-wrap');

    const alerts = document.querySelectorAll('.alert');
    alertDiv.id = `alert-${alerts.length + 1}`;

    const span = document.createElement('span');
    span.innerText = decodeURIComponent(message);

    alertDiv.appendChild(span);
    toastDiv.appendChild(alertDiv);

    alertDiv.addEventListener('click', ()=> {
      alertDiv.remove();
    })

    document.body.appendChild(toastDiv);
  }

  // create a toast from /alert-<type> query string
  document.addEventListener('DOMContentLoaded', () => {
    const search = new URLSearchParams(window.location.search);
    const alertTypes = ['alert-info', 'alert-success', 'alert-warning', 'alert-error'];
    alertTypes.forEach(type => {
      const message = search.get(type);
      if (message) {
        createToast(type, message);
        // remove /alert-<type> query string
        const urlWithoutQueryString = window.location.href.split('?')[0];
        history.replaceState({}, document.title, urlWithoutQueryString);
      }
    });
  });

  function removeToast(id) {
    document.getElementById(id).remove();
  }

  // remove any toasts which are either from query string or flash messages from session/cookie after 30 seconds
  setTimeout(() => {
    const toastElements = document.querySelectorAll('.toast');
    toastElements.forEach(toast => {
      toast.remove();
    });
  }, 30000);
</script>

<!-- flash messages from session/cookie -->
<% if (typeof flashMessages !== 'undefined') { %>
  <div class="toast toast-top z-20 top-5 toast-center px-20 h-fit w-max flex justify-center items-center">
    <%
      const messages = JSON.parse(JSON.stringify(flashMessages));
      let index = 0;
      for (const message in messages) {
        render(`
            <div id="alert-${index}" onclick="removeToast('alert-${index}')" class="alert alert-${message} max-w-[50ch] w-fit text-wrap">
              <span>${messages[message]}</span>
            </div>
        `);
        index++;
      }
    %>
  </div>
<% } %>
