<!-- stats -->
<div class="stats border rounded-lg">
  <div class="stat place-items-center">
    <div class="stat-title">Users</div>
    <div class="stat-value"><%= user.count %></div>
    <div class="stat-desc"><%= user.percentChange %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Tenants</div>
    <div class="stat-value"><%= tenant.count %></div>
    <div class="stat-desc"><%= tenant.startOfCurrentMonth %> to <%= tenant.endOfCurrentMonth %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Reviews</div>
    <div class="stat-value"><%= review.count %></div>
    <div class="stat-desc"><%= review.startOfCurrentMonth %> to <%= review.endOfCurrentMonth %></div>
  </div>
</div>

<!-- admin -->
<div class="overflow-x-auto rounded-lg border ">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Level</th>
        <th>Timestamp</th>
        <th>Log</th>
      </tr>
    </thead>
    <tbody>
      <% for (const log of logs) { %>
        <tr>
          <td>
            <% if (log.level === 'info') { %><span class="badge badge-success"><%= log.level %></span><% } %>
            <% if (log.level === 'error') { %><span class="badge badge-error"><%= log.level %></span><% } %>
            <% if (log.level === 'debug') { %><span class="badge badge-info"><%= log.level %></span><% } %>
            <% if (log.level === 'warning') { %><span class="badge badge-warning"><%= log.level %></span><% } %>
          </td>
          <td>
            <%= log.time %>
          </td>
          <td>
            <span class="badge badge-ghost"><%= log.msg %></span>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
