<!-- stats -->
<div class="stats border rounded-lg">
  <div class="stat place-items-center">
    <div class="stat-title">Users</div>
    <div class="stat-value"><%= user.count %></div>
    <div class="stat-desc"><%= user.percentChange %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Tenants</div>
    <div class="stat-value"><%= tenant.count %></div>
    <div class="stat-desc"><%= tenant.startOfCurrentMonth %> to <%= tenant.endOfCurrentMonth %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Reviews</div>
    <div class="stat-value"><%= review.count %></div>
    <div class="stat-desc"><%= review.startOfCurrentMonth %> to <%= review.endOfCurrentMonth %></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const logsFormDate = document.getElementById('logs-form-date');
    if (logsFormDate) {
      logsFormDate.querySelector('select').addEventListener('change', () => {
        logsFormDate.submit();
      });
    }

    let expend = false;
    const logTable = document.getElementById("log-table");
    const expendCollapseButton = document.getElementById('expend-collapse-button');
    expendCollapseButton.addEventListener('click', ()=> {
      expend = !expend;


      if (expend === true) {
        logTable.classList.remove('sm:max-h-96');
        expendCollapseButton.innerText = 'Collapse'
      } else {
        logTable.classList.add('sm:max-h-96');
        expendCollapseButton.innerText = 'Expend'
      }
    })
  });
</script>

<!-- admin logs date -->
<form id="logs-form-date" method="get" action="/admin" class="flex justify-between items-center ">
  <h3 class="m-0 p-0 sm:block hidden">Logs</h3>
  <label for="date" class="form-control sm:max-w-xs w-full">
    <select name="date" id="date" class="select select-bordered">
      <option selected><%= date %></option>
      <% for (const date of dates) { %>
        <option><%= date %></option>
      <% } %>
    </select>
  </label>
</form>

<!-- admin -->
<% if (logs.length) { %>
  <div id="log-table" class="overflow-x-auto rounded-lg border overflow-y-scroll sm:max-h-96 max-h-full">
    <table class="table">
      <!-- head -->
      <thead class="sticky top-0 bg-white">
        <tr>
          <th>Level</th>
          <th>Timestamp</th>
          <th>Log</th>
          <th>
            <button id="expend-collapse-button">Expend</button>
          </th>
        </tr>
      </thead>

      <tbody>
        <% for (const log of logs) { %>
          <tr>
            <td>
              <% if (log.level === 'info') { %><span class="badge badge-success"><%= log.level %></span><% } %>
              <% if (log.level === 'error') { %><span class="badge badge-error"><%= log.level %></span><% } %>
              <% if (log.level === 'debug') { %><span class="badge badge-info"><%= log.level %></span><% } %>
              <% if (log.level === 'warn') { %><span class="badge badge-warning"><%= log.level %></span><% } %>
            </td>
            <td>
              <%= log.time %>
            </td>
            <td>
              <span class="badge badge-ghost"><%= log.msg %></span>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <div class="rounded-lg border p-[78px] flex flex-col gap-5 justify-center items-center">
    No logs currently
  </div>
<% }  %>
