<!-- account -->
<form method="post" action="/settings/account" class="rounded-lg border p-5 flex flex-col gap-5">
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Account</h6>
    <p class="m-0 font-light">Manage your account details.</p>
  </div>

  <!-- csrf -->
  <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

  <!-- username -->
  <label class="form-control w-full" for="username">
    <div class="label"><span class="label-text">Username</span></div>
    <input type="text" name="username" id="username" placeholder="Username" value="<%= user.username %>"
      class="input input-bordered max-w-sm" required />
  </label>

  <!-- email -->
  <label class="form-control w-full" for="email">
    <div class="text-left flex items-center">
      <!-- title -->
      <div class="label">
        <span class="label-text flex justify-center items-center gap-1">
          <span>Email</span>
        </span>
      </div>
      <div class="dropdown dropdown-hover dropdown-top p-0 m-0">
        <div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-xs text-info p-0 m-0">
          <svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="w-3 h-3 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </div>
        <div tabindex="0" class="card compact dropdown-content border z-[1] shadow-lg bg-base-100 rounded-box">
          <div tabindex="0" class="card-body min-w-max">
            <h3 class="m-0">Warning</h3>
            <p class="m-0 w-full">You must login with this email</p>
          </div>
        </div>
      </div>
    </div>
    <input type="email" name="email" id="email" placeholder="Email" value="<%= user.email %>"
      class="input input-bordered max-w-sm" required />
  </label>

  <div class="w-fit self-end">
    <button type="submit" class="btn btn-neutral">Update</button>
  </div>
</form>

<!-- email -->
<form action="/subscriptions" method="post" class="rounded-lg border p-5 flex flex-col gap-5">
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Subscriptions</h6>
    <p class="m-0 font-light">Choose the email that you'd like to receive from our platform.</p>
  </div>

  <div class="form-control">

    <!-- email -->
    <input type="email" name="email" value="<%= app.user.email %>" hidden />

    <!-- csrf -->
    <input type="text" name="csrfToken" value="<%= csrfToken %>" hidden />

    <!-- newsletter -->
    <label class="label cursor-pointer w-fit gap-5">
      <input type="checkbox" name="newsletter" id="newsletter" class="checkbox" <%= subscriptions.type.newsletter ? 'checked' : '' %> />
      <span class="label-text">Subscribe to newsletter</span>
    </label>

    <!-- changelog -->
    <label class="label cursor-pointer w-fit gap-5">
      <input type="checkbox" name="changelog" id="changelog" class="checkbox" <%= subscriptions.type.changelog ? 'checked' : '' %> />
      <span class="label-text">Subscribe to changelog</span>
    </label>

    <!-- changelog -->
    <label class="label cursor-pointer w-fit gap-5">
      <input type="checkbox" name="promotion" id="promotion" class="checkbox" <%= subscriptions.type.promotion ? 'checked' : '' %> />
      <span class="label-text">Subscribe to promotion</span>
    </label>
  </div>

  <div class="w-fit self-end">
    <button type="submit" class="btn btn-neutral no-animation">Update</button>
  </div>
</form>

<!-- delete -->
<div class="rounded-lg border p-5 flex flex-col gap-5">
  <!-- title -->
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Danger Zone</h6>
    <p class="m-0 font-light">The following actions are destructive and cannot be reversed.</p>
  </div>

  <!-- delete -->
  <div class="w-fit self-end">
    <button class="btn btn-error text-white" onclick="my_modal_2.showModal()">Delete my account</button>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg m-0">Danger Zone</h3>
        <p class="py-4 m-0">Are you sure you want to delete your account?</p>
        <form class="modal-action" method="post" action="/settings/danger-zone">
          <!-- csrf -->
          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
          <!-- button -->
          <button type="submit" class="btn btn-error text-white">Delete my account</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</div>
