<script>
	document.addEventListener('DOMContentLoaded', () => {
		const logo = document.getElementById('logo');
		const banner = document.getElementById('banner');
		const logoContainer = document.getElementById('logoContainer');
		const bannerContainer = document.getElementById('bannerContainer');
		const bannerContainerBlur = document.getElementById('bannerContainerBlur');
		const slugInput = document.getElementById('slug');
		const nameInput = document.getElementById('name');
		const yourName = document.getElementById('yourName');
		const slugWithDomain = document.getElementById('slugWithDomain');

		function handleLogoChange(event) {
			const file = event.target.files[0];
			if (file) {
				logoContainer.style.backgroundImage = `url('${URL.createObjectURL(file)}')`;
			}
		}

		function handleBannerChange(event) {
			const file = event.target.files[0];
			if (file) {
				bannerContainer.style.backgroundImage = `url('${URL.createObjectURL(file)}')`;
			}
		}

		function generateSlugWithDomain() {
			yourName.innerText = nameInput.value.trim();
			const slug = nameInput.value.trim().split(' ').join('-').toLowerCase();
			const domain = `https://${slug}.powerlifting.gg/`;
			slugWithDomain.innerText = domain;
			slugInput.value = slug;
		}

		logo.addEventListener('change', handleLogoChange);
		banner.addEventListener('change', handleBannerChange);
		nameInput.addEventListener('input', generateSlugWithDomain);

		// change banner container blur background on image
		const config = { attributes: true, attributeFilter: ['style'] };
		const callback = function (mutationsList, observer) {
			for (const mutation of mutationsList) {
				if (mutation.type === 'attributes' && mutation.attributeName === 'style') {
					if (bannerContainer.style.backgroundImage) {
						bannerContainerBlur.classList.remove('bg-neutral');
						bannerContainerBlur.classList.add('bg-black/70');
					}
				}
			}
		};
		const observer = new MutationObserver(callback);
		observer.observe(bannerContainer, config);
	});
</script>

<!-- top -->
<div
	class="shadow-sm rounded-md border border-1 bg-cover bg-center bg-no-repeat h-full"
	id="bannerContainer"
>
	<div
		id="bannerContainerBlur"
		class="flex flex-col gap-3 items-center justify-center p-5 backdrop-blur-sm rounded-md h-full bg-neutral"
	>
		<!-- img -->
		<div
			class="max-h-[100px] max-w-[100px] h-[100px] w-[100px] rounded-full flex justify-center items-center shadow-white shadow-sm bg-white"
		>
			<div
				id="logoContainer"
				class="bg-cover bg-center bg-no-repeat max-h-[100px] max-w-[100px] h-[100px] w-[100px] rounded-full"
			></div>
		</div>

		<!-- rating -->
		<div class="rating rating-xs mt-3">
			<% for (let i=0; i<5; i++) { %>
				<input
					id="tenant-create-star-<%= i + 1 %>"
					name="tenant-create-star-<%= i + 1 %>"
					type="radio"
					class="mask mask-star-2 bg-orange-400"
					disabled
				/>
			<% } %>
		</div>

		<!-- name -->
		<div class="flex items-center mt-1 -mb-1 justify-center">
			<h4 id="yourName" class="m-0 p-0 text-white drop-shadow-sm text-3xl font-extrabold">Your Name</h4>
			<img class="w-8 h-8 p-0 m-0 -mb-[3px]" src="/img/verified.png" alt="verified" />
		</div>

		<!-- link -->
		<div class="link text-white no-underline hover:underline" id="slugWithDomain">
			https://your-name.powerlifting.gg/
		</div>
	</div>
</div>

<!-- left -->
<form
	id="tenants-create"
	action="/tenants"
	enctype="multipart/form-data"
	method="post"
	class="flex flex-col gap-5 col-span-2 rounded-lg border p-5"
>
	<!-- title -->
	<div>
  	<h6 class="text-lg font-medium m-0 text-neutral">Tenants</h6>
  	<p class="m-0 font-light">Create a new tenant.</p>
	</div>

	<!-- csrf -->
	<input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

	<!-- name -->
	<label class="form-control w-full" for="name">
		<div class="label"><span class="label-text">Name</span></div>
		<input
			type="text"
			name="name"
			id="name"
			placeholder="Name"
			class="input input-bordered max-w-sm"
			required
		/>
	</label>

	<!-- slug -->
	<label class="form-control w-full" for="slug">
		<div class="label"><span class="label-text">Slug</span></div>
		<input
			type="text"
			name="slug"
			id="slug"
			placeholder="Slug"
			class="input input-bordered max-w-sm"
			readonly
		/>
	</label>

	<!-- social -->
	<label class="form-control w-full" for="social">
		<div class="text-left flex items-center">
			<!-- title -->
			<div class="label">
				<span class="label-text flex justify-center items-center gap-1">
					<span>Social</span>
					<span class="text-neutral-400 font-light text-xs">(Optional)</span>
				</span>
			</div>
			<div class="dropdown dropdown-hover dropdown-top p-0 m-0">
				<div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-xs text-info p-0 m-0">
					<svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-3 h-3 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
				</div>
				<div tabindex="0" class="card compact dropdown-content border z-[1] shadow-lg bg-base-100 rounded-box w-fit">
					<div tabindex="0" class="card-body">
						<h3 class="m-0">Social</h3>
						<p class="m-0">Add links by having a comma between them.</p>
						<h4 class="m-0">A single domain:</h4>
						<pre class="m-0">https://google.com</pre>
						<h4 class="m-0">Multiple domain:</h4>
						<pre class="m-0">https://google.com, youtube.com, www.instagram.com</pre>
					</div>
				</div>
			</div>
		</div>
		<input
			type="text"
			name="social"
			id="social"
			placeholder="https://google.com/, google.com, tiktok.com"
			class="input input-bordered max-w-sm"
		/>
	</label>

	<!-- logo -->
	<label class="form-control w-full" for="logo">
		<div class="label">
			<span class="label-text flex justify-center items-center gap-1">
				<span>Logo</span>
				<span class="text-neutral-400 font-light text-xs">(Optional)</span>
			</span>
		</div>
		<input
			type="file"
			name="logo"
			id="logo"
			class="file-input file-input-bordered max-w-sm"
			accept="image/*"
		/>
	</label>

	<!-- banner -->
	<label class="form-control w-full" for="banner">
		<div class="label">
			<span class="label-text flex justify-center items-center gap-1">
				<span>Banner</span>
				<span class="text-neutral-400 font-light text-xs">(Optional)</span>
			</span>
		</div>
		<input
			type="file"
			name="banner"
			id="banner"
			class="file-input file-input-bordered max-w-sm"
			accept="image/*"
		/>
	</label>

	<!-- verified -->
	<div class="flex flex-col mt-2 gap-1">
		<div class="w-fit">
			<label class="label gap-2 justify-start" for="verified">
				<input type="checkbox" class="checkbox" id="verified" name="verified" />
				<span class="label-text text-base flex justify-center items-center gap-1">
					<span>I claim this Tenant</span>
					<span class="text-neutral-400 font-light text-xs">(Optional)</span>
				</span>
			</label>
		</div>
		<div class="pl-1 text-base">
			I am a coach of this Tenant and I claim this Tenant.
		</div>
	</div>

	<!-- agree -->
	<div class="flex flex-col mt-2 gap-1">
		<div class="w-fit">
			<label class="label gap-2 justify-start" for="agree">
				<input type="checkbox" class="checkbox" id="agree" name="agree" required />
				<span class="label-text text-base">I agree</span>
			</label>
		</div>
		<div class="pl-1 text-base">
			Agreeing up signifies that you have read and agree to the
			<a href="/terms-of-services" class="link link-neutral" target="_blank"
				>Terms of Service</a
			>
			and our
			<a href="/privacy-policy" class="link link-neutral" target="_blank">Privacy Policy</a>.
		</div>
	</div>

	<!-- submit -->
	<div class="w-fit self-end"><input type="submit" value="Submit" class="btn btn-neutral text-white mt-4" /></div>
</form>
