<script>
	document.addEventListener('DOMContentLoaded', () => {
		const slugInput = document.getElementById('slug');
		const nameInput = document.getElementById('name');

		function generateSlugWithDomain() {
			const slug = nameInput.value.trim().split(' ').join('-').toLowerCase();
			const domain = `https://${slug}.powerlifting.gg/`;
			slugInput.value = slug;
		}

		nameInput.addEventListener('input', generateSlugWithDomain);
	});
</script>

<!-- banner -->
<div
  id="<%= tenant.slug %>-tenant-card"
  class="shadow-sm rounded-md border border-1 bg-cover bg-center bg-no-repeat bg-neutral"
  <% if (tenant.banner.length) { %>
    style="background-image: url(<%= tenant.banner %>)"
  <% } %>
  >
  <!-- blur -->
  <div class="flex sm:flex-row flex-col gap-2 p-5 rounded-md backdrop-blur-sm bg-black/70 <%- tenant.banner.length ? 'hover:bg-black/80 transition-all duration-300': '' %>">
    <!-- left -->
    <div class="flex-0 min-h-full flex justify-center items-center sm:justify-normal sm:items-start">
      <div class="w-32 h-32 rounded-full flex justify-center items-center shadow-white shadow-sm">
        <% if (tenant.logo.length) { %>
          <img class="h-full object-cover w-full rounded-full" src="<%= tenant.logo %>" alt="logo" />
        <% } else { %>
          <div class="bg-white rounded-full w-full h-full justify-center items-center flex">
            <span class="font-bold text-xl">
              <% const split = tenant.slug.split('-'); %>
              <% const capitalizedInitials = split.map(part => part.charAt(0).toUpperCase()).join(''); %>
              <%= capitalizedInitials %>
            </span>
          </div>
        <% } %>
      </div>
    </div>

    <!-- mid -->
    <div class="flex-1 p-5 flex flex-col gap-2 justify-center items-center sm:justify-normal sm:items-start">
      <!-- name -->
      <div class="flex items-center">
        <h3 class="p-0 m-0 text-white drop-shadow-sm"><%= tenant.name %></h3>
        <% if (tenant.verified) { %>
          <img class="w-6 h-6 p-0 m-0" src="/img/verified.png" alt="verified" />
        <% } %>
      </div>

      <!-- stars -->
      <div class="rating rating-xs">
        <% for (let i = 0; i < 5; i++) { %>
          <input
            type="radio"
            id="<%= tenant.slug %>-star-<%= i + 1 %>"
            name="<%= tenant.slug %>-star-<%= i + 1 %>"
            class="mask mask-star-2 <%= i + 1 < Math.floor(tenant.ratings) ? 'bg-orange-400' : 'bg-orange-200'%>"
            disabled
          />
        <% } %>
      </div>

      <!-- link -->
      <div><a class="text-white drop-shadow-sm" href="<%- app.configureDomain(tenant.slug) %>"><%= app.configureDomain(tenant.slug) %> ⤴️</a></div>
    </div>

    <!-- right -->
    <div class="flex-0 p-5 text-white sm:block hidden"><%= tenant.reviews_count %>
      <% if (tenant.reviews_count > 0) { %>
        <span>Reviews</span>
      <% } else { %>
        <span>Review</span>
      <% } %>
    </div>
  </div>
</div>

<!-- images -->
<form method="post" action="/settings/tenants/<%= tenant.id %>" class="rounded-lg border p-5 flex flex-col gap-5">
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Images</h6>
    <p class="m-0 font-light">Manage your image details.</p>
  </div>

  <!-- csrf -->
  <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

	<!-- logo -->
	<label class="form-control w-full" for="logo">
		<div class="label">
			<span class="label-text flex justify-center items-center gap-1">
				<span>Logo</span>
				<span class="text-neutral-400 font-light text-xs">(Optional)</span>
			</span>
		</div>
		<input
			type="file"
			name="logo"
			id="logo"
      class="file-input file-input-bordered max-w-sm"
			accept="image/*"
		/>
	</label>

  <!-- banner -->
  <label class="form-control w-full" for="banner">
    <div class="label">
      <span class="label-text flex justify-center items-center gap-1">
        <span>Banner</span>
        <span class="text-neutral-400 font-light text-xs">(Optional)</span>
      </span>
    </div>
    <input
      type="file"
      name="banner"
      id="banner"
      class="file-input file-input-bordered max-w-sm"
      accept="image/*"
    />
  </label>

  <div class="w-fit self-end">
    <button type="submit" class="btn btn-neutral">Update</button>
  </div>
</form>

<!-- details -->
<form method="post" action="/settings/tenants/<%= tenant.id %>" class="rounded-lg border p-5 flex flex-col gap-5">
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Details</h6>
    <p class="m-0 font-light">Manage your tenant details.</p>
  </div>

  <!-- csrf -->
  <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

	<!-- name -->
	<label class="form-control w-full" for="name">
		<div class="label"><span class="label-text">Name</span></div>
		<input
			type="text"
			name="name"
			id="name"
      value="<%= tenant.name %>"
			placeholder="Name"
			class="input input-bordered max-w-sm"
			required
		/>
	</label>

	<!-- slug -->
	<label class="form-control w-full" for="slug">
		<div class="label"><span class="label-text">Slug</span></div>
		<input
			type="text"
			name="slug"
			id="slug"
      value="<%= tenant.slug %>"
			placeholder="Slug"
			class="input input-bordered max-w-sm"
			readonly
		/>
	</label>

	<!-- social -->
	<label class="form-control w-full" for="social">
		<div class="text-left flex items-center">
			<!-- title -->
			<div class="label">
				<span class="label-text flex justify-center items-center gap-1">
					<span>Social</span>
					<span class="text-neutral-400 font-light text-xs">(Optional)</span>
				</span>
			</div>
			<div class="dropdown dropdown-hover dropdown-top p-0 m-0">
				<div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-xs text-info p-0 m-0">
					<svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-3 h-3 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
				</div>
				<div tabindex="0" class="card compact dropdown-content border z-[1] shadow-lg bg-base-100 rounded-box w-fit">
					<div tabindex="0" class="card-body">
						<h3 class="m-0">Social</h3>
						<p class="m-0">Add links by having a comma between them.</p>
						<h4 class="m-0">A single domain:</h4>
						<pre class="m-0">https://google.com</pre>
						<h4 class="m-0">Multiple domain:</h4>
						<pre class="m-0">https://google.com, youtube.com, www.instagram.com</pre>
					</div>
				</div>
			</div>
		</div>
		<input
			type="text"
			name="social"
			id="social"
      value="<%= tenant.links %>"
			placeholder="https://google.com/, google.com, www.tiktok.com"
			class="input input-bordered max-w-sm"
		/>
	</label>

  <div class="w-fit self-end">
    <button type="submit" class="btn btn-neutral">Update</button>
  </div>
</form>

<!-- delete -->
<div class="rounded-lg border p-5 flex flex-col gap-5">
  <!-- title -->
  <div>
    <h6 class="text-lg font-medium m-0 text-neutral">Danger Zone</h6>
    <p class="m-0 font-light">The following actions are destructive and cannot be reversed.</p>
  </div>

  <!-- delete -->
  <div class="w-fit self-end">
    <button class="btn btn-error text-white" onclick="my_modal_2.showModal()">Delete my tenant</button>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg m-0">Danger Zone</h3>
        <p class="py-4 m-0">Are you sure you want to delete <strong><%= tenant.name %></strong>?</p>
        <form class="modal-action" method="post" action="/settings/tenants/<%= tenant.id %>">
          <!-- csrf -->
          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
          <!-- button -->
          <button type="submit" class="btn btn-error text-white">Delete my tenant</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</div>
