<div class="fade-in p-10">
	<div class="mx-auto max-w-7xl w-full prose">

		<div class="flex justify-between items-center">
			<div class="text-sm flex gap-2 items-center my-5 text-[#4A5569]">
					<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>">Home</a>
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#4A5569" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"/></svg>
					<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="<%= app.mainDomain %>/tenants">Tenants</a>
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#4A5569" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"/></svg>
					<a class="no-underline hover:underline opacity-70 hover:opacity-100" href="/"><%= tenant.name %></a>
			</div>

			<% if (app.user) { %>
				<a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/logout" title="logout">Logout</a>
			<% } else { %>
				<a class="text-sm no-underline hover:underline opacity-70 hover:opacity-100" href="/login" title="login with google">Login</a>
			<% } %>
		</div>

		<h1 class="my-5 mb-10">Welcome from <span class="italic underlined font-semibold"><%- tenant.name %>!</span></h1>

		<!-- submit a review form -->
		<% if (app.user) { %>
			<%- include('../components/tenant-reviews-create.html', { csrfToken, app, tenant }) %>
			<hr>
		<% } %>

		<div class="flex justify-between items-center">
			<!-- search -->
			<form action="<%- app.configureDomain(app.tenant.slug) %>" method="get" class="flex gap-1 justify-between">
				<!-- left -->
				<div class="flex gap-1">
					<label class="input input-bordered flex items-center gap-2 w-[374px]" for="q">
						<input type="text" class="grow" id="q" name="q" placeholder="Search for a coach or a systems..." required />
						<input type="hidden" name="current_page" id="current_page" value="<%= reviews.pagination.currentPage %>">
						<input type="hidden" name="per_page" id="per_page" value="<%= reviews.pagination.perPage %>">
						<input type="hidden" name="sort" id="sort" value="<%= reviews.pagination.sort %>">
					</label>
					<input type="submit" value="Search" id="reviews-search" class="btn btn-neutral" />
				</div>
			</form>

			<!-- right -->
			<div class="flex gap-3">
				<% if (!app.user) { %>
					<a class="btn btn-neutral text-white no-underline" href="/login" title="login with google">Submit a Review</a>
				<% } %>

				<div class="join">
					<button class="join-item btn">«</button>
					<button class="join-item btn">Page 1</button>
					<button class="join-item btn">»</button>
				</div>
			</div>
		</div>

		<p>Showing 0 to 10 of 100 reviews</p>

		<div class="flex flex-col gap-5 rounded-md p-5 bg-gray-100 border border-1">
			<% if (reviews.data.length) { %>
				<% for (const review of reviews.data) { %>
					<%- include('../components/tenant-comment.html', { review }) %>
				<% } %>
			<% } else { %>
				<span class="p-60 text-sm text-center italic">Nothing to see here!</span>
			<% } %>
		</div>

	</div>
</div>
