<script>
  document.addEventListener('DOMContentLoaded', () => {
    const search = new URLSearchParams(window.location.search);
    if (search.get('q')) {
      document.getElementById('q').value = search.get('q');
    }

    const button = document.getElementById('scroll-top-button');
    button.addEventListener('click', () => {
      scrollToTop();
    });

    window.addEventListener('scroll', function() {
      if (window.scrollY > 100) {
        button.classList.remove('hidden');
      } else {
        button.classList.add('hidden');
      }
    });
  });

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }
</script>

<button id="scroll-top-button" class="fixed bottom-5 right-5 hidden btn btn-neutral">Top</button>

<div class="p-10">
  <div class="mx-auto max-w-7xl w-full prose">
    <h2>Tenants</h2>

    <!-- search -->
    <div class="flex justify-between items-center">
      <!-- left -->
      <form action="/tenants" method="get" class="flex gap-1 items-center justify-center relative w-[374px]">
        <label class="input input-bordered flex items-center gap-2 w-[374px]" for="q">
          <input type="text" class="grow" id="q" name="q" placeholder="Search for a coach or a systems..." required />
          <input type="hidden" name="current_page" id="current_page" value="<%= tenants.pagination.currentPage %>">
          <input type="hidden" name="per_page" id="per_page" value="<%= tenants.pagination.perPage %>">
          <input type="hidden" name="sort" id="sort" value="<%= tenants.pagination.sort %>">
          <button
            type="submit"
            id="search"
            class="hover:bg-neutral hover:text-white h-8 w-8 flex justify-center items-center rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
              <path fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </label>
      </form>

      <!-- right -->
      <div class="flex gap-3">
        <!-- button -->
        <% if (tenants.data.length){ %>
          <a class="btn btn-neutral text-white no-underline" href="/tenants/new">Add a Tenant</a>
        <% } %>

        <!-- pagination -->
        <div class="join">
          <% if (tenants.pagination.prevPage === null) { %>
            <a class="join-item btn no-underline" disabled>«</a>
          <% } else { %>
            <a class="join-item btn no-underline" href="/tenants?<%- tenants.pagination.prevPageLink %>">«</a>
          <% } %>

          <details class="dropdown">
            <summary class="join-item btn">Page <%= tenants.pagination.currentPage %></summary>
            <% if (tenants.pagination.links.length) { %>
              <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box min-w-[162px] -left-[44px]">
                <% for (let i=0; i < tenants.pagination.links.length; i++) { %>
                  <!-- skip current page -->
                  <% if ((i + 1) !== tenants.pagination.currentPage) { %>
                    <a class="no-underline btn btn-sm btn-ghost" href="/tenants?<%= tenants.pagination.links[i] %>">Page <%= i + 1%></a>
                  <% } %>
                <% } %>
              </ul>
            <% } %>
          </details>

          <% if (tenants.pagination.nextPage === null) { %>
            <a class="join-item btn no-underline" disabled>»</a>
          <% } else { %>
            <a class="join-item btn no-underline" href="/tenants?<%- tenants.pagination.nextPageLink %>">»</a>
          <% } %>
        </div>
      </div>
    </div>

    <p>Showing <%= tenants.pagination.from %> to <%= tenants.pagination.to %> of <%= tenants.pagination.total %> entries</p>

    <!-- searched items -->
    <% if (tenants.data.length){ %>
      <div class="flex flex-col gap-5 mt-8">
        <% for (const tenant of tenants.data) { %>
          <div class="flex gap-2 p-5 shadow-sm rounded-md border border-1">

            <!-- left -->
            <div class="flex-0 min-h-full max-w-40 flex justify-center items-center">
              <div class="w-32 h-32 rounded-full flex justify-center items-center" style="background-color: <%= tenant.color %>;">
                <%= tenant.emoji %>
              </div>
            </div>

            <!-- mid -->
            <div class="flex-1 p-5 flex flex-col gap-2">
                <!-- name -->
                <div class="flex items-center">
                  <h3 class="p-0 m-0"><%= tenant.name %></h3>
                  <% if (tenant.verified) { %>
                    <img class="w-6 h-6 p-0 m-0" src="/img/verified.png" alt="verified" />
                  <% } %>
                </div>

                <!-- stars -->
                <div class="rating rating-xs">
                  <% for (let i = 0; i < 5; i++) { %>
                    <input
                      type="radio"
                      id="<%= tenant.slug %>-star-<%= i + 1 %>"
                      name="<%= tenant.slug %>-star-<%= i + 1 %>"
                      class="mask mask-star"
                    />
                  <% } %>
                </div>

                <!-- link -->
                <a href="<%- app.configureDomain(tenant.slug) %>"><%= app.configureDomain(tenant.slug) %></a>
            </div>

            <!-- right -->
            <div class="flex-0 p-5"><%= tenant.reviews_count %>
              <% if (tenant.reviews_count > 0) { %>
                <span>Reviews</span>
              <% } else { %>
                <span>Review</span>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <!-- not found -->
    <% if (!tenants.data.length){ %>
      <div class="flex flex-col gap-8 mt-8">
        <div class="py-16">No tenant with <span class="font-bold">"<%- q %>"</span> in its name. </div>

        <div class="p-16 rounded-md flex flex-col gap-4 justify-center items-center border">
          <span>Don't see the tenant you're looking for?</span>
          <a class="btn btn-neutral text-white no-underline" href="/tenants/new">Add a tenant</a>
        </div>
      </div>
    <% } %>
  </div>
</div>
