<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>subdomain</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>⭐</text></svg>"></link>
  <link rel="stylesheet" href="/css/style.css?v=0.1">
  <script defer data-domain="jaw.lol" src="http://plausible.jaw.dev/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.prod.min.js"></script>
  <script src="js/components.js" type="module"></script>
</head>
