<script>
	document.addEventListener('DOMContentLoaded', function () {
		const tenant = <%- tenant %>;
		document.getElementsByTagName('header')[0].style.background = tenant.color;
	});
</script>

<header class="flex-0 p-5">
		<h1><%= JSON.parse(tenant).emoji %></h1>

		<a href="<%= app.configureDomain(JSON.parse(tenant).slug) %>">
			<h2><%= JSON.parse(tenant).name %></h2>
		</a>

		<a href="<%= app.configureDomain(JSON.parse(tenant).slug)%>/login">login</a>
		<a href="<%= app.configureDomain(JSON.parse(tenant).slug)%>/register">register</a>
</header>
