<script>
	document.addEventListener('DOMContentLoaded', function () {
		const tenant = <%- tenant %>;
		document.getElementsByTagName('header')[0].style.background = tenant.color;
	});
</script>

<header class="flex-0 p-5">
	<div>
		<h1>
			<%= JSON.parse(tenant).emoji %>
		</h1>

		<a href="<%= app.configureDomain(JSON.parse(tenant).slug) %>">
			<h2>
				<%= JSON.parse(tenant).name %>
			</h2>
		</a>
	</div>

	<nav>
		<ul class="flex gap-2">
			<li>
				<a href="<%= app.configureDomain(JSON.parse(tenant).slug)%>/login">login</a>
			</li>
			<li>
				<a href="<%= app.configureDomain(JSON.parse(tenant).slug)%>/register">register</a>
			</li>
		</ul>
	</nav>
</header>
